bin
obj
*.suo
*.user
*.sln.docstates

[Db]ebug/
[Rr]elease/
*.obj
*.pdb

_ReSharper*

[Tt]humbs.db
[Dd]esktop.ini

Andromeda/Andromeda/bin/*
Andromeda/Andromeda/obj/*
changelog.txt
Andromeda_Source.zip
Andromeda_Source.rar